apipkg==1.4
asteval==0.9.1
astroid==1.6.5
backports.functools-lru-cache==1.5
bar==0.2.1
configparser==3.5.0
cov-core==1.15.0
coverage==3.7.1
cycler==0.10.0
Cython==0.29.2
DBUtils==1.1
decorator==4.3.0
enum34==1.1.6
execnet==1.4.1
functools32==3.2.3.post2
futures==3.2.0
ipython-genutils==0.2.0
isort==4.3.4
jsonschema==2.6.0
jupyter-core==4.4.0
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
matplotlib==2.2.3
mccabe==0.6.1
mock==1.0.1
nbformat==4.4.0
numpy==1.10.4
nupic==1.0.6.dev0
nupic.bindings==1.0.6
ordereddict==1.1
pandas==0.17.1
plotly==3.4.2
prettytable==0.7.2
psutil==1.0.1
py==1.4.31
pycapnp==0.6.3
pylint==1.9.4
PyMySQL==0.6.2
pyparsing==2.3.0
pyproj==1.9.3
pytest==2.5.1
pytest-cov==1.6
pytest-xdist==1.8
python-dateutil==2.1
pytz==2015.7
PyYAML==3.10
requests==2.9.1
retrying==1.3.3
scrypt==0.8.6
setuptools-scm==3.1.0
simplejson==3.8.2
six==1.10.0
subprocess32==3.5.3
TBB==0.1
traitlets==4.3.2
unittest2==0.5.1
validictory==0.9.1
wrapt==1.10.11
