DBUtils==1.1
PyMySQL==0.6.2
PyYAML==3.10
apipkg==1.4
asteval==0.9.1
bar==0.2.1
cov-core==1.15.0
coverage==3.7.1
execnet==1.4.1
mock==1.0.1
numpy==1.10.4
nupic==1.0.1
ordereddict==1.1
pandas==0.17.1
plotly==1.9.6
prettytable==0.7.2
psutil==1.0.1
py==1.4.31
pyproj==1.9.3
pytest==2.5.1
pytest-cov==1.6
pytest-xdist==1.8
python-dateutil==2.1
pytz==2015.7
requests==2.9.1
simplejson==3.8.2
six==1.10.0
unittest2==0.5.1
validictory==0.9.1
wsgiref==0.1.2
